@model CodeSparkNET.WEB.ViewModels.Catalogs.CatalogViewModel
@{
  ViewData["Title"] = "Каталог";
  ViewData["App"] = "CodeSpark";
}
@section Styles {
  <link rel="stylesheet" href="~/css/Style/layout-header.css" asp-append-version="true">
  <link rel="stylesheet" href="~/css/Style/layout-footer.css" asp-append-version="true">
  <link rel="stylesheet" href="~/css/Style/catalog.css" asp-append-version="true">
}

<partial name="_WebApp_Navbar_header" />

<div class="__container catalog" id="CatalogSectionOn">
  <div class="name-catalog">
    <h1 class="catalog-loading">Загрузка каталога...</h1>
  </div>

  <div class="catalog-content"></div>

  <div class="loader spinner3" id="LoaderSpinner"></div>
</div>

@section ScriptsAdditions {
  <script data-src="@(Url.Content("~/js/api/catalogsGetCard.js"))" type="text/plain"></script>
}

<partial name="_WebApp_Navbar_footer" />