<!DOCTYPE html>
<html lang="ru" data-theme-color="dark" data-device="default" custom-scroll cross-browser>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CodeSpark</title>
    <link rel="stylesheet" href="~/css/assemble.site.css">
    <script src="~/js/app/get.info_about_device.js" defer></script>
    <script src="~/js/app/assemble.app.js" defer></script>
    <script src="~/js/style/animation_mobile_button.js" defer></script>
</head>

<body web-app="site">
    <header data-layout="header">
        <nav class="__container" data-layout="navbar-site">
            <a logo>CodeSpark</a>
            
            <div class="block">

            </div>
        </nav>
    </header>

    <main data-layout="main" role="main">
        <div class="__container">
            @RenderBody()
        </div>
    </main>

    <footer data-layout="header">
        <div class="__container">

        </div>
    </footer>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
