@using Microsoft.AspNetCore.Identity
@inject UserManager<AppUser> UserManager
@{
    var userName = User.Identity.Name;
}

@if (!User?.Identity?.IsAuthenticated == true)
{
    <a help data-style="on-hover" hover>Поддержка</a>
    <a login href="@Url.Action("Login", "Account")" data-style="on-hover" hover>Войти</a>
}
else
{
    @* Ник img(профиля) *@
    <span class="welcome">Привет, @userName</span>

    <form asp-action="Logout" asp-controller="Account" method="post" class="logout-form">
        @Html.AntiForgeryToken()

        <button type="submit" class="logout-btn">Выйти</button>
    </form>
    <a asp-action="Profile" asp-controller="Account">Профиль</a>
    @* Уведомления *@
}