@* Если зареган то комент, если нет то оринг *@
<a help>Поддержка</a>
<a login href="@Url.Action("Login", "Account")">Войти</a>
<button theme-color></button>
@*
Ник img(профиля)
<a logout>Выйти</a>
<a profile>Профиль</a>
Уведомления
 *@