@using CodeSparkNET.Interfaces
@using Microsoft.AspNetCore.Identity
@inject ICatalogService CatalogService
@inject UserManager<AppUser> UserManager
@{
  var userName = User.Identity.Name;
  var user = UserManager.GetUserAsync(User).Result;
  var catalogs = await CatalogService.GetCatalogNamesAsync();
}

<header class="webapp-nav">
  <nav class="__container">
    <section class="left">
      <a asp-action="Index" asp-controller="Home" banner-CS></a>
      <button js-list-catalog-view-btn>Каталог</button>
      <div js-list-catalog-view class="list hidden" hidden="!">
        @foreach (var catalog in catalogs)
        {
          <a asp-controller="Catalog" asp-action="Catalog" asp-route-catalogSlug="@catalog.Slug">
            @catalog.Name
          </a>
        }
      </div>
      <button js-list-documents-btn>Документация</button>
      <div js-list-documents-view class="list hidden" hidden="!">
        a
      </div>
      <button js-list-socials-btn>Соц. сети</button>
      <div js-list-socials class="list hidden" hidden="!"></div>
    </section>
    <section class="right">
      @if (!User?.Identity?.IsAuthenticated == true)
      {
        <a asp-controller="Account" asp-action="Login">Войти</a>
        <a>Каталог</a>
      }
      else
      {
        <a>Каталог</a>
      }
    </section>
  </nav>
</header>