<form action="Login" method="post">
  <label for="email"><input name="email" id="email" type="text" required></label>
  <label for="password"><input name="password" id="password" type="password" required></label>
  <label for=""><input type="checkbox"> Запомнить меня</label>
  <button type="submit" data-style="hb">Войти</button>
</form>