@model CodeSparkNET.Dtos.Account.ResetPasswordDto

@{
  ViewData["Title"] = "Регистрация";
}

@section Styles {
  <link rel="stylesheet" href="~/css/style/reset_password.css">
}

<div class="__container reset_password">
  <header>
    <a href="@Url.Action("Index", "Home")" banner>
      <img src="~/../assets/img/banner-tag.webp" alt="head-banner">
    </a>
  </header>

  <form asp-action="ResetPassword" asp-controller="Account" method="post" class="form_controller" novalidate>
    @Html.AntiForgeryToken()

    <input type="hidden" asp-for="Email">
    <input type="hidden" asp-for="Token">

    <div class="description">
      <h2>Восстановление вашего пароля</h2>
    </div>
    <span asp-validation-summary="ModelOnly" class="error_message_form"></span>
    <div class="input_block">
      <div class="password-block">
        <span asp-validation-for="Password"></span>
        <label asp-for="Password"></label>
        <input asp-for="Password" id="password" type="password" required>
      </div>
      <div class="confirm_password-block">
        <span asp-validation-for="ConfirmPassword"></span>
        <label asp-for="ConfirmPassword">Подтверждение пароля</label>
        <input asp-for="ConfirmPassword" id="confirm_password" type="password" required>
      </div>
    </div>
    <button type="submit" data-style="hb">Восстановить пароль</button>
    <div class="back_to_login-block">
      <a href="">
        Вернуться к авторизации
      </a>
    </div>
  </form>

  <div class="js-window hidden" js-window-successful-restore>
    <div class="description">
      <h2>Пароль успешно восстановлен</h2>
      @* Описание *@
      <a hover data-style="hb">Войти</a>
    </div>
  </div>

  <footer>
    <section>
      <a href="@Url.Action("License", "Documents")">Лицензионное соглашение</a>
      <a href="@Url.Action("Privacy", "Documents")">Политика конфиденциальности</a>
    </section>
    <section>
      © Code Spark, 2025. Все права на объекты прав третьих лиц принадлежат их законным правообладателям.
    </section>
  </footer>
</div>

@section Scripts {
  @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
  }
}