html[cross-browser] {
  & main[data-layout="main"][role="main"] {
    footer.webapp-basement {
      position: relative;
      display: flex;
      width: 100%;
      height: auto;
      align-items: center;
      justify-content: center;

      .__container {
        max-width: 920px;
        position: relative;
        overflow: hidden;

        &::before {
          position: absolute;
          border-radius: 10em;
          content: "";
          background: linear-gradient(0deg, var(--palette-acient), var(--palette-second));
          bottom: -130px;
          width: 150px;
          height: 150px;
          filter: drop-shadow(10px 0px 100px var(--palette-text-shadow)) blur(50px);
          opacity: .7;
        }

        .logo-btn {
          padding-top: 50px;

          .logo {
            display: inline-block;
            opacity: .8;
            transition: .3s ease;

            img {
              width: clamp(9.375rem, 7.9282rem + 7.716vw, 17.1875rem);
            }
          }

          .logo.hover {
            opacity: 1;
            transform: translateY(-3px);
          }
        }

        .socials {
          padding: 40px 0px;
          display: flex;
          flex-direction: row;
          gap: 40px;

          .btn {
            width: 48px;
            height: 48px;
            display: block;
            border-radius: 10em;
            position: relative;
            transition: .3s ease;

            &::after {
              position: absolute;
              width: 47.6px;
              height: 47.6px;
              content: "";
              opacity: 0;
              transition: .3s ease;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              border-radius: 10em;
              z-index: -1;
            }

            &::before {
              content: "";
              position: absolute;
              width: 48px;
              height: 48px;
              mask-position: center;
              mask-size: cover;
              mask-repeat: no-repeat;
              background-color: var(--palette-text-shadow);
              transition: .3s ease;
            }

            &:nth-child(1) {
              &::before {
                mask-image: url(../../../assets/icon/attention.svg);
              }
            }

            &:nth-child(2) {
              &::before {
                background-color: transparent;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                background-image: url(../../../assets/icon/logo.png);
              }
            }

            &:nth-child(3) {
              &::before {
                mask-image: url(../../../assets/icon/attention.svg);
              }
            }

            &:nth-child(4) {
              &::before {
                mask-image: url(../../../assets/icon/tg.svg);
              }
            }

            &:nth-child(5) {
              &::before {
                mask-image: url(../../../assets/icon/vk.svg);
              }
            }

            &:nth-child(6) {
              &::before {
                mask-image: url(../../../assets/icon/github.svg);
              }
            }

            &:nth-child(7) {
              &::before {
                mask-image: url(../../../assets/icon/youtube.svg);
              }
            }

            &:nth-child(8) {
              &::before {
                mask-image: url(../../../assets/icon/attention.svg);
              }
            }
          }
        }

        .block-button {}

        .description {}
      }
    }
  }
}