@{
  ViewData["Title"] = "Каталог";
}
@section Styles {
  <link rel="stylesheet" href="~/css/style/catalog.css">
}

<partial name="_WebApp_Navbar_header" />

<aside class="filter controller">
  
</aside>

<div class="__container catalog">

</div>

<partial name="_WebApp_Navbar_footer" />
