@using CodeSparkNET.Dtos.Products
@model DiplomaDto
<div class="diploma-hero">
    <h1>@Model.Product.Title</h1>
<p>Предмет: @Model.DiplomaDetail.Subject</p>
    <p>Специальность: @Model.DiplomaDetail.Specialization</p>
</div>
<div class="diploma-files">
    @if (!string.IsNullOrEmpty(Model.DiplomaDetail.DocumentUrl))
{
            <a href="#" class="btn btn-primary">Скачать документ</a>
    }
</div>