@{
    ViewData["Title"] = "Главная страница";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about</p> <a asp-controller="Catalog" asp-action="Catalog" hover data-style="hyper-button"><span>Catalog --temp-link</span></a>
</div>
