@{
    ViewData["Title"] = "Главная страница";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about</p>
    @if (User?.Identity?.IsAuthenticated == true)
    {
        <a asp-controller="Catalog" asp-action="Catalog" asp-route-catalogSlug="it-cubic" hover
           data-style="hyper-button"><span>Catalog --temp-link</span></a>
    }

    @* @if (TempData["SuccessMessage"] != null) *@
    @* { *@
        <div>
            @TempData["SuccessMessage"]
        </div>
    @* } *@

</div>