/*layout.css*/
html[data-theme-color="white"] {
  --palette-main: #f5f1ee;
  --palette-acient: #ecc1a1;
  --palette-second: #dac8be;
  --palette-nav-text: #58626c;
  --palette-text-inv: #ffffff;
  --palette-shadow: #58626c90;
  --palette-custom: #ebccb4;
}

html[data-theme-color="dark"] {
  --palette-main: #1f1f1f;
  --palette-acient: #9780e5;
  --palette-second: #da6ad0;
  --palette-custom-second: #dd92d7;
  --palette-nav-text: #1f1f1f;
  --palette-nav-site: #191919;
  --palette-text-inv: #ffffff;
  --palette-text-shadow: #c3c3c3;
  --palette-shadow: #ffffff90;
  --palette-custom: #b9aaee;
  --palette-color-tc: #636363;
  --palette-color-tc_hover: #909090;
  --error-message-form: #db3b3b;
  --error-message-form-input: var(--error-message-form);
}

html[cross-browser][data-theme-color="dark"] {
  body {
    background: var(--main-bg);
    color: var(--palette-text-inv);
    --main-bg: var(--palette-main);
    --bg-card: var(--palette-second);
    --bg-form: var(--palette-second);
    --bg-nav: var(--palette-nav-text);
    --color-headline: var(--palette-nav-text);
    --color-link: var(--palette-nav-text);
    --hover-link: var(--palette-shadow);
    --border-button: var(--palette-acient);
    --bg-button: var(--palette-custom);
    --color-button: var(--palette-text-inv);

    [data-style="button"] {
      width: 100%;
      display: inline-block;
      text-align: center;
      background: var(--color-button);
      color: var(--palette-acient);
      transition: 0.3s ease-in-out;
      padding: 10px 20px;
      border-radius: 10px;
      font-weight: 700;
      border: var(--border-button) 2px solid;
      word-spacing: nowrap;
    }

    [data-style="button"].hover {
      color: var(--palette-text-inv);
      background: var(--border-button);
    }

    [data-style="inv-button"] {
      background: var(--border-button);
      color: var(--color-button);
      transition: var(--transition-time);
      padding: 10px 20px;
      border-radius: 10px;
      display: inline-block;
      width: 100%;
      font-weight: 700;
      border: var(--border-button) 2px solid;
      word-spacing: nowrap;
      text-align: center;
      margin-inline: 5px;
    }

    [data-style="inv-button"].hover {
      color: var(--palette-text-inv);
      background: var(--palette-main);
    }

    [data-style="link"] {
      background: none;
      color: var(--palette-acient);
      transition: var(--transition-time);
      font-weight: normal;
      border: none;
      text-decoration: none;
      word-spacing: nowrap;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        width: 0%;
        height: 2px;
        bottom: -0.5px;
        left: 0;
        background: var(--palette-acient);
        transition: var(--transition-time);
      }
    }

    [data-style="link"].hover {
      color: var(--palette-custom);

      &::after {
        width: 100%;
      }
    }

    [data-style="link-new"] {
      background: none;
      color: var(--palette-acient);
      transition: var(--transition-time);
      font-weight: normal;
      border: none;
      text-decoration: none;
      word-spacing: nowrap;
      position: relative;
      margin-right: 17px;

      &:last-child {
        margin-right: 0;
      }

      &::after {
        content: "";
        position: absolute;
        width: 0%;
        height: 2px;
        bottom: -0.5px;
        left: 0;
        background: var(--palette-acient);
        transition: var(--transition-time);
      }

      &::before {
        content: "";
        position: absolute;
        width: 19px;
        height: 19px;
        top: 50%;
        right: 0;
        transform: translate(110%, -50%);
        background-color: var(--palette-acient);
        mask: url(../assets/icon/link.icon-new.svg) center/cover no-repeat;
        -webkit-mask: url(../assets/icon/link.icon-new.svg) center/cover no-repeat;
        transition: var(--transition-time);
      }
    }

    [data-style="link-new"].hover {
      color: var(--palette-custom);

      &::after {
        width: 100%;
      }

      &::before {
        transform: translate(120%, -50%);
        background-color: var(--palette-custom);
      }
    }

    [data-style="link-underline"] {
      background: none;
      color: var(--palette-acient);
      transition: var(--transition-time);
      font-weight: normal;
      border: none;
      text-decoration: none;
      word-spacing: nowrap;
      position: relative;
      margin-right: 17px;
      text-decoration: underline;

      &:last-child {
        margin-right: 0;
      }

      &::after {
        content: "";
        position: absolute;
        width: 19px;
        height: 19px;
        top: 50%;
        right: 0;
        transform: translate(110%, -50%);
        background-color: var(--palette-acient);
        mask: url(../assets/icon/link.icon-cube.svg) center/cover no-repeat;
        -webkit-mask: url(../assets/icon/link.icon-cube.svg) center/cover no-repeat;
        transition: var(--transition-time);
        /* cube */
      }

      &::before {
        content: "";
        position: absolute;
        width: 19px;
        height: 19px;
        top: 50%;
        right: 0;
        transform: translate(110%, -50%);
        background-color: var(--palette-acient);
        mask: url(../assets/icon/link.icon-arrow.svg) center/cover no-repeat;
        -webkit-mask: url(../assets/icon/link.icon-arrow.svg) center/cover no-repeat;
        transition: var(--transition-time);
        /* arrow */
      }
    }

    [data-style="link-underline"].hover {
      color: var(--palette-custom);

      &::after {
        background: var(--palette-custom);
      }

      &::before {
        transform: translate(120%, -60%);
        background-color: var(--palette-custom);
      }
    }

    [data-style="hyper-button"] {
      display: inline-block;
      text-transform: uppercase;
      will-change: transform;
      background: linear-gradient(
        45deg,
        var(--color-gradient-for-hyperbutton_start),
        var(--color-gradient-for-hyperbutton_end)
      );
      color: var(--color-button);
      border: var(--border-button) 2px solid;
      font-weight: 700;
      width: 100%;
      padding: 12.5px;
      transition:
        --color-gradient-for-hyperbutton_start 0.4s,
        --color-gradient-for-hyperbutton_end 0.4s;
      position: relative;
      overflow: hidden;
      border-radius: 10px;
      text-align: center;
      word-spacing: nowrap;
      z-index: 2;

      & span {
        word-spacing: nowrap;
        position: relative;
        z-index: 2;
        color: var(--color-button);
      }

      &::before,
      &::after {
        will-change: transform;
        position: absolute;
        content: "";
        top: 0;
        z-index: 1;
        border-color: var(--bg-button);
      }

      &::before {
        width: 100%;
        height: 100%;
        left: 0;
        border-left: var(--bg-button) 48px solid;
        animation: blink-button 3s infinite ease;
      }

      &::after {
        width: 120%;
        height: 120%;
        left: 58px;
        border-left: var(--bg-button) 24px solid;
        animation: blink-button 3s infinite ease;
      }
    }

    [data-style="hyper-button"].hover {
      --color-gradient-for-hyperbutton_start: #1f1f1fff;
      --color-gradient-for-hyperbutton_end: #1f1f1fff;
    }

    button[theme-color] {
      &::before {
        transform: translate(20%, -50%);
        background-image: url(../assets/icon/nav_site.moon.svg);
      }
    }

    button[theme-color].hover {
      border-color: var(--palette-color-tc_hover) !important;
      box-shadow: 0px 0px 10px 0px #ffffff40;

      &::before {
        border-color: var(--palette-color-tc_hover) !important;
      }
    }

    [data-style="on-hover"] {
      opacity: 0.8;
      transition: 0.3s ease;
    }

    [data-style="on-hover"].hover {
      opacity: 1;
    }
  }
}

html[cross-browser][data-theme-color="white"] {
  body {
    background: var(--main-bg);
    color: var(--palette-nav-text);
    --main-bg: var(--palette-main);
    --bg-card: var(--palette-second);
    --bg-form: var(--palette-second);
    --bg-nav: var(--palette-nav-text);
    --color-headline: var(--palette-nav-text);
    --color-link: var(--palette-nav-text);
    --hover-link: var(--palette-shadow);
    --border-button: var(--palette-acient);
    --bg-button: var(--palette-custom);
    --color-button: var(--palette-text-inv);

    [data-style="button"] {
      background: var(--color-button) !important;
      color: var(--color-button) !important;
      transition: 0.3s ease-in-out;
      padding: 10px 20px;
      border-radius: 10px;
      font-weight: 700;
      border: var(--border-button) 2px solid;
    }

    [data-style="inv-button"] {
      background: var(--border-button) !important;
      color: var(--color-button) !important;
      transition: 0.3s ease-in-out;
      padding: 10px 20px;
      border-radius: 10px;
      font-weight: 700;
      border: var(--border-button) 2px solid;
    }

    [data-style="link"] {
      background: none !important;
      color: var(--color-link);
      transition: 0.3s ease-in-out;
      font-weight: normal;
      border: none;
      text-decoration: underline;

      &:hover {
        color: var(--palette-acient);
      }
    }

    [data-style="hyper-button"] {
      display: inline-block;
      text-transform: uppercase;
      will-change: transform;
      background: var(--border-button) !important;
      color: var(--color-button) !important;
      border: var(--border-button) 2px solid;
      font-weight: 700;
      padding: 12.5px 60px;
      transition: 0.3s ease;
      position: relative;
      overflow: hidden;
      border-radius: 3px;
      z-index: 2;

      & span {
        position: relative;
        z-index: 2;
        color: var(--color-button);
      }

      &::before,
      &::after {
        will-change: transform;
        position: absolute;
        content: "";
        top: 0;
        z-index: 1;
        border-color: var(--bg-button);
      }

      &::before {
        width: 100%;
        height: 100%;
        left: 0;
        border-left: var(--bg-button) 48px solid;
        animation: blink-button 3s infinite ease;
      }

      &::after {
        width: 120%;
        height: 120%;
        left: 58px;
        border-left: var(--bg-button) 24px solid;
        animation: blink-button 3s infinite ease;
      }

      &:hover {
        background: var(--palette-nav-text);
      }
    }

    button[theme-color] {
      &::before {
        transform: translate(180%, -50%);
        background-image: url(../assets/icon/nav_site.sun.svg);
      }
    }
  }
}

html[data-device="desktop"] {
  header[data-layout="header"] {
    z-index: 10;
    background: var(--palette-nav-site);
    padding: 5px 0px;
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    min-height: 37px;
    max-height: 37px;

    nav.__container[data-layout="navbar-site"] {
      display: flex;
      flex-direction: row;
      max-width: 1440px;
      width: 100%;
      justify-content: space-between;
      align-items: center;

      .l_block {
        display: flex;
        flex-direction: row;
        gap: 15px;

        a[logo] {
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          width: 19px;
          height: 19px;

          &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            background-image: url();
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url(../assets/icon/logo.webp);
            width: 19px;
            height: 19px;
          }
        }

        button {
          border: none;
          background: none;
          color: var(--palette-text-inv);
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          height: auto;

          &:nth-child(3) {
            margin-left: 15px;
          }

          [title="arrow"] {
            position: absolute;
            transform: translate(200%, -50%) rotate(-90deg);
            top: 50%;
            right: 0;
            font-size: var(--fs-h3);
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.3s ease;
          }
        }

        button[active] {
          opacity: 1;

          [title="arrow"] {
            transform: translate(200%, -50%) rotate(90deg);
          }
        }
      }

      .r-block {
        display: flex;
        flex-direction: row;
        gap: 15px;

        a {
          background: none;
          border: none;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          color: var(--palette-text-inv);

          &::after {
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            transform: translate(-120%, -50%);
            width: 14px;
            height: 14px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
          }
        }

        a[help] {
          &::after {
            background-image: url(../assets/icon/nav_site.help.svg);
            filter: invert(1);
          }
        }

        a[login-async] {
          margin-left: 15px;

          &::after {
            background-image: url(../assets/icon/nav_site.enter.svg);
            filter: invert(1);
          }
        }

        a[register-async] {
          margin-left: 15px;

          &::after {
            background-image: url(../assets/icon/nav_site.reg.svg);
            filter: invert(1);
          }
        }
      }
    }

    div.js-window {
      position: absolute;
      visibility: hidden;
      opacity: 0;
      transition: 0.3s ease;
    }

    div[js-window-select-app] {
      div[window] {
      }
    }

    div[js-window-select-service] {
      div[window] {
      }
    }
  }

  main[data-layout="main"][role="main"] {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;

    .__container {
      display: flex;
      flex-direction: column;
      max-width: 1440px;
      justify-content: center;
      align-items: center;
    }
  }

  footer[data-layout="footer"] {
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 37px;
    max-height: 37px;
    background: var(--palette-nav-site);

    .__container {
      display: flex;
      flex-direction: row;
      max-width: 1440px;
      width: 100%;
      justify-content: space-between;
      align-items: center;

      .l_block {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;

        a {
          font-size: calc(0.95 * var(--fs-small));
          text-transform: uppercase;
          color: var(--palette-text-inv);
        }
      }

      .r_block {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 15px;

        button[theme-color] {
          --btn-size-tc: 19px;
          background: var(--palette-main);
          border: 1px solid var(--palette-color-tc);
          height: calc(1.1 * var(--btn-size-tc));
          width: calc(2.2 * var(--btn-size-tc));
          border-radius: 10em;
          position: relative;
          transition: 0.4s ease;

          &::before {
            position: absolute;
            content: "";
            top: 50%;
            left: 0;
            width: 14px;
            height: 14px;
            border: 1px solid var(--palette-color-tc);
            border-radius: 10em;
            transition: 0.4s ease;
            will-change: trasform;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
          }
        }

        & a,
        span {
          font-size: calc(0.95 * var(--fs-small));
          text-transform: uppercase;
          color: var(--palette-text-inv);
        }

        span {
          opacity: 0.8;
          margin-left: 20px;
          position: relative;

          &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            transform: translate(-115%, -50%);
            width: 19px;
            height: 19px;
            background-image: url(../assets/icon/footer_site.ru-fg.svg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            opacity: 1;
          }
        }

        .js-window {
          position: fixed;
        }

        .js-window.hidden {
          opacity: 0;
          visibility: hidden;
        }
      }
    }
  }
}

@keyframes blink-button {
  0% {
    border-color: var(--palette-custom);
    transform: translate(-87px) skew(-32deg, 0deg);
  }

  50%,
  100% {
    border-color: var(--palette-custom-second);
    transform: translate(110%) skew(-32deg, 0deg);
  }
}

@property --color-gradient-for-hyperbutton_start {
  syntax: "<color>";
  inherits: false;
  initial-value: #9780e5ff;
}

@property --color-gradient-for-hyperbutton_end {
  syntax: "<color>";
  inherits: false;
  initial-value: #da6ad0ff;
}

html,
body,
[custom-scroll] {
  scroll-behavior: smooth;
  --sb-track: var(--palette-main);
  --sb-thumb: var(--palette-acient);
  scrollbar-width: var(--sb-width);
  border-radius: var(--sb-radius);
  scrollbar-color: var(--sb-thumb) var(--sb-track);
}

::-webkit-scrollbar,
.custom-scroll::-webkit-scrollbar {
  width: var(--sb-width);
  height: var(--sb-width);
}

::-webkit-scrollbar-track,
.custom-scroll::-webkit-scrollbar-track {
  background: var(--sb-track);
}

::-webkit-scrollbar-thumb,
.custom-scroll::-webkit-scrollbar-thumb {
  background: var(--sb-thumb);
  border-radius: var(--sb-radius);
  border: 1px solid rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb:hover,
.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: var(--sb-thumb-hover);
}

::-webkit-scrollbar-thumb:active,
.custom-scroll::-webkit-scrollbar-thumb:active {
  transform: scale(1.02);
}

[clicable].hover,
.focus-visible {
  outline-offset: 2px;
}
